@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@(Html.DevExtreme().DataGrid<Weather_Forecast_App.Models.Weather.Current>()
    .DataSource(ds => ds.Mvc()
        .Controller("WeatherWebAPI")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.temp_c);

        columns.AddFor(m => m.wind_mph);

        columns.AddFor(m => m.humidity);

        columns.AddFor(m => m.is_day);

        columns.AddFor(m => m.feelslike_c);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
