@model Weather_Forecast_App.Models.Weather.Weather

@{
    ViewData["Title"] = "Index";
}


<div class="dx-fieldset-header">
    Select a Country below for weather forcast
</div>

<div class="dx-field">
    <div class="dx-field-label">Country</div>
    <div class="dx-field-value">
        @(Html.DevExtreme().SelectBox()
            .ID("search-box")
            .DataSource(d => d
            .Mvc()
            .Controller("WeatherWebAPI")
            .LoadAction("GetCountryList")
            .Key("ID")
            )
            .DisplayExpr("name")
            .OnValueChanged("ViewCountryForecast")
            .SearchEnabled(true)
            )
    </div>
</div>

@(Html.DevExtreme().Form()
            .ID("form")
            .ColCount(4)
            .FormData(Model)
            .LabelMode(FormLabelMode.Floating)
            .LabelLocation(FormLabelLocation.Left)
            .MinColWidth(300)
            .ReadOnly(true)
            .ShowColonAfterLabel(true)
)

<script src="~/js/pages/WeatherForeCast.js"></script>