@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@(Html.DevExtreme().DataGrid<Weather_Forecast_App.Models.Weather.Weather>()
    .DataSource(ds => ds.Mvc()
        .Controller("WeatherWebAPI")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
    )
    .RemoteOperations(true)
    .GroupPanel(_ => _.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .Columns(columns => {

        columns.AddFor(m => m.Location.name);

        columns.AddFor(m => m.Location.country);

        columns.AddFor(m => m.Location.localtime_epoch);

        columns.AddFor(m => m.Location.region);

        columns.AddFor(m => m.Current.temp_c);

        columns.AddFor(m => m.Current.humidity);

        columns.AddFor(m => m.Current.wind_mph);
    })
    .Editing(e => e
        .AllowDeleting(true)
    )
)
