@{
    ViewData["Title"] = "WeatherForcast";
}

<h2>WeatherForcast</h2>

@(
Html.DevExtreme().DataGrid<Weather_Forecast_App.Models.Weather.Day>()
    .DataSource(ds => ds.Mvc()
        .Controller("WeatherWebApi")
        .LoadAction("GetForeCastData")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(_ => _.mintemp_c);
          
        columns.AddFor(_ => _.avgtemp_c);

        columns.AddFor(_ => _.mintemp_c);

    })
)
