@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div id="companySelectText">Select a country to view weather:</div>
@(Html.DevExtreme().SelectBox()
        .ID("CountrySelect")
        .DisplayExpr("Name")
        .Label("Select a country")
        .LabelMode(EditorLabelMode.Floating)
        .DataSource(d => d
        .Mvc()
        .Controller("HomeController")
        .LoadAction("GetCountryList")
        .Key("Id"))
        .Value("name")
    )

<script src="~/js/pages/WeatherForecast.js"></script>